@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    html{
        font-family: "Noto Sans", sans-serif;
    }

    @media (max-width: 375px){
        h2 {
            font-size:0.8em;
        }
    }

    @media (max-width: 600px){
        h2 {
            font-size:1em
        }
    }

    @media (max-width:936px){
        h2{
            font-size:2em
        }
    }

    @screen md{
        h2{
            font-size:2.7em 
        }   
    }

    @screen xl{
        h2{
            font-size:3em 
        }   
    }

    @screen 2xl{
        h2{
            font-size:2.5m 
        }   
    }
}